.contant {
    background-color: gray;
    padding: 20px;
}

.avatarMain {
    width: 130px;
    border-radius: 300px;
}


.add input {
    padding: 25px;
    outline: none;
    border-radius: 10px;
    width: 350px;
}

.add button {
    padding: 25px;
    outline: none;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.user button:hover {
    background-color: aqua;
}

.post { 
    margin-top: 15px;
}

.post p {
    margin-top: 10px;
    font-size: 20px;
    color: white;
    font-weight: 500;
}

.post h3 {
    color: white;
    font-weight: 700;
}

.post img{
    border-radius: 55px;
    width: 55px; 
}

.avdiv {
    display: flex;
    align-items: center;
}

.avdiv h3{
    margin-left: 10px;
}